<div class="service">
    <div class="service_header">
        <div class="img_container">
            <img src="../../assets/images/service_img.jpg" alt="">
        </div>

        <div class="title_container">
            <div class="content1"></div>
            <div class="content2"></div>
            <div class="title">
                <h1>Services</h1>
                 <div class="line_container">
                    <div class="lXL"></div>
                    <div class="lL"></div>
                    <div class="lL"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="service_body">
        <div class="service-item" *ngFor="let service of services; let i = index" [ngClass]="{'service_left' : i % 2 === 0, 'service_right' : i % 2 !== 0}">
            <div class="left">
                <h1>{{service.serviceTitle}}</h1>
                <div class="line_container">
                    <div class="lXL"></div>
                    <div class="lL"></div>
                    <div class="lL"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                </div>
                <p>{{service.serviceText}}</p>
            </div>
    
            <div class="right">
                <img [src]="'../../assets/images/' + service.image" alt="">
            </div>
        </div>
    </div>

</div>