<div class="about">
    <div class="about_header">
        <div class="title_container">
            <div class="content1"></div>
            <div class="content2"></div>
            <div class="title">
                <h1>About Us</h1>
                 <div class="line_container">
                    <div class="lXL"></div>
                    <div class="lL"></div>
                    <div class="lL"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                </div>
            </div>
        </div>

        <div class="img_container">
            <img src="../../assets/images/about_image-page.avif" alt="">
        </div>
    </div>

    <div class="about_body">
        <div class="section_left">
            <div class="left">
                <div class="head"> 
                    <h2 class="subtitle">Who We Are</h2> 
                    <h1 class="title">About The Company</h1>
                    <div class="line_container">
                        <div class="lXL"></div>
                        <div class="lL"></div>
                        <div class="lL"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                    </div>
                </div>
                <div class="text">
                    Welcome to Urban Elite Car Rental, where our passion for travel meets our commitment to providing you with the best vehicle rental service. We believe that every journey is an opportunity to explore and create unforgettable memories, and we are here to ensure you have an exceptional travel experience.
                    <br><br>
                    Our mission is to offer a wide range of modern and reliable vehicles suitable for any need—whether it's for business trips, family vacations, or outdoor adventures. Each car in our fleet is equipped with the latest technology and safety features, ensuring that your journey is comfortable and secure.
                    <br><br>
                    Our team of professionals is always available to assist you at every step of the process, from booking to returning the vehicle. We are dedicated to providing you with comprehensive support and guidance to help you choose the perfect vehicle that fits your travel style and budget.
                    <br><br>
                    Urban Elite Car Rental offers competitive prices and flexible options for various rental periods. We understand that each client has unique needs, which is why we have created different packages to meet everyone’s requirements. Our booking process is simple and quick, allowing you to start your adventure without any delays.
                    <br><br>
                    Choose Urban Elite Car Rental and enjoy an extraordinary travel experience, where every trip becomes an opportunity to discover the world! We are here to help you reach your destinations with style, comfort, and safety.
                </div>
            </div>
            <div class="right">
                <div class="content3"></div>
                <div class="content4"></div>
                <div class="content5"></div>
                <img src="../../assets/images/about_img4.png" alt="">
            </div>
        </div>

        <div class="section_right">     
            <div class="right">
                <div class="content7"></div>
                <div class="content8"></div>
                <div class="content9"></div>
                <img src="../../assets/images/about_img5.png" alt="">
            </div>
            <div class="left">
                <div class="head"> 
                    <h2 class="subtitle">What Do We Aim For</h2> 
                    <h1 class="title">Our Mission</h1>
                    <div class="line_container">
                        <div class="lXL"></div>
                        <div class="lL"></div>
                        <div class="lL"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                    </div>
                </div>
                <div class="text">
                    At Urban Elite Car Rental, our mission is to provide exceptional vehicle rental services that enhance your travel experience. We are dedicated to delivering a diverse fleet of modern, reliable vehicles tailored to meet the needs of every traveler, whether for business, leisure, or adventure.
                    <br><br>
                    We strive to create memorable journeys by offering top-notch customer service, ensuring that every interaction is seamless and enjoyable. Our team is committed to understanding your unique requirements and providing personalized solutions, making your rental experience as smooth as possible.
                    <br><br>
                    With a focus on safety, quality, and value, we aim to be your trusted partner in exploration. We believe that every journey deserves the best, and we are here to support you in discovering the world with confidence and ease.
                </div>
            </div>
        </div>

        <div class="section_left">
            <div class="left">
                <div class="head"> 
                    <h2 class="subtitle">What We Want</h2> 
                    <h1 class="title">Our Vision</h1>
                    <div class="line_container">
                        <div class="lXL"></div>
                        <div class="lL"></div>
                        <div class="lL"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                    </div>
                </div>
                <div class="text">
                    At Urban Elite Car Rental, our vision is to be the leading choice for vehicle rentals, recognized for our commitment to excellence, innovation, and customer satisfaction. We aspire to transform the way people experience travel by providing a seamless, enjoyable, and memorable rental process.
                    <br><br>
                    We envision a future where every journey is not just a means to an end, but an opportunity for exploration and adventure. By continuously enhancing our services and expanding our fleet, we aim to cater to the evolving needs of our customers and embrace sustainable practices that benefit both travelers and the environment.
                    <br><br>
                    Ultimately, we seek to inspire confidence in our clients, allowing them to travel with ease and style, while creating lasting memories along the way. Through our dedication to quality and service, we aim to be the preferred partner for every traveler's journey.
                </div>
            </div>
            <div class="right">
                <div class="content6 "></div>
                <div class="content4"></div>
                <div class="content5"></div>
                <img src="../../assets/images/about_img6.png" alt="">
            </div>
        </div>

    </div>

    <div class="about_offer">
        <div class="offer-line1"></div>
        <div class="offer-line2"></div>
        <div class="book_now_content">
            <a class="book_now" routerLink="/Urban-Elite/fleet">Book Now</a>
        </div>
        
        <div class="offer">
            <h1>Special offer</h1>
            <strong><i>RENT CAR NOW</i></strong>
            <p>Rent any vehicle from Urban Elite Car Rental this month and enjoy 20% off your total rental price! Whether you need a compact car for city driving or an SUV for a family trip, we’ve got you covered.</p>         
        </div>
        
        <div class="contact">
            <span>Tel: +35568000000</span>
            <span>Email: urbanelite&#6;4gmail.com</span>
        </div>  

        <div class="social_container">
            <div class="social" *ngFor="let social of socialMedia">
                <a [href]="social.linkSocialMedia">
                    <i class="{{social.icon}}"></i>
                </a>
            </div>
        </div>  
    </div>
</div>
