<div class="home">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
    <div class="line5"></div>
    <div class="line6"></div>
    <div class="line7"></div>
    <div class="circle"></div>

    <div class="left">
        <h1>Book a Car Near<br> You and Drive<br> in Minutes!</h1>
        <div class="line_container">
            <div class="lXL"></div>
            <div class="lL"></div>
            <div class="lM"></div>
            <div class="lM"></div>
            <div class="lS"></div>
            <div class="lS"></div>
            <div class="lS"></div>
            <div class="lS"></div>
            <div class="lS"></div>
        </div>
        <p>Book the selected car effortlessly, pay for driving only.
            Join our service instantly by installing our app.
            <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quam, tenetur vitae quod atque architecto consectetur natus eum commodi minima odio dicta labore, ullam nihil numquam, eos non suscipit sunt?
        </p>
       <div class="orderBtn_container"> 
            <button class="home_orderBtn">
                <a routerLink="/Urban-Elite/fleet">Order Now</a> 
            </button>
        </div>
    </div>
    
    <div class="right">
        <img src="../../assets/images/home_image_car_orange.png" alt="">
    </div>
</div>

<div class="home_body">
    <!--- Section Step Book-->
    <div class="section_step_book">
        <div class="line8"></div>
        <div class="step_book_head"> 
            <h2 class="subtitle">How it Work</h2> 
            <h1 class="title">Simple and easy steps to rent</h1>
            <div class="line_container">
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lL"></div>
                <div class="lXL"></div>
                <div class="lL"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
            </div>
            <p class="text">A few simple steps separate ypu from your
                <br>upcoming journey. Se home easy it is to rent car.
            </p>
        </div>
        <div class="circle2"></div>

        <div class="step_book_body">
            <div class="box_container">
                <div class="box" *ngFor="let step of stepsAbout">
                    <i class="{{step.icon}}"></i>
                    <h1>{{step.titleStep}}</h1>
                    <p>{{step.textStep}}</p>
                </div>
            </div>    
            
            <div class="wave-container">
                <svg viewBox="0 0 800 110" class="wave">
                    <path class="wave-path" d="M 0 50 
                                    Q 80 10, 160 50 
                                    Q 240 90, 320 50 
                                    Q 400 10, 480 50 
                                    Q 560 90, 640 50 
                                    Q 720 10, 800 50" />
                </svg>
            </div>   
        </div>
    </div>

    <!--- Section About ---->
    <div class="section_about">
        <div class="about_left">
            <div class="line9"></div>
            <div class="line10"></div>
            <img src="../../assets/images/cosy.webp" alt="">
        </div>
        <div class="about_right">
            <div class="step_book_head"> 
                <h2 class="subtitle">What you need to know</h2> 
                <h1 class="title">About us and our vision</h1>
                <div class="line_container">
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lL"></div>
                    <div class="lXL"></div>
                    <div class="lL"></div>
                    <div class="lM"></div>
                    <div class="lM"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                    <div class="lS"></div>
                </div>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, tempora quidem et quas laborum dicta doloribus obcaecati provident aspernatur dolor consectetur, fuga ad possimus vitae illo tempore asperiores eaque explicabo.
                    Illum ipsum velit architecto nisi nam sequi neque quo quod fuga exercitationem dolor voluptates, cupiditate aperiam placeat facere consectetur, enim reiciendis a quos accusantium voluptatibus? Asperiores minima fuga ipsa suscipit!
                    Illo facilis id iusto sint expedita vero laudantium ut! Quam obcaecati sed, deserunt facilis vel doloribus magni excepturi ex in quod maxime inventore earum reiciendis minus blanditiis rerum, ea totam!
                    <br><br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto aperiam provident sed, laboriosam asperiores ut mollitia vitae repellat rem incidunt quae debitis. Commodi eum quia reprehenderit accusantium quis, sequi omnis!
                    Vel sint molestias dicta eveniet, id accusantium aspernatur iusto culpa saepe esse quae voluptate maxime optio eaque harum dolorum, doloribus, tenetur deleniti hic laboriosam repudiandae cum pariatur. Doloribus, commodi temporibus.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quaerat qui eaque reiciendis ad cum minus quae, sunt beatae corrupti, maxime pariatur. Veritatis culpa distinctio non expedita aliquam modi officiis?
                    Error totam architecto, at dolorum expedita libero quos odio fuga quibusdam excepturi fugiat ipsum dignissimos vel, id perspiciatis. Amet ea earum repudiandae enim cum officia delectus unde itaque incidunt aspernatur!
                </p>
            </div>
            <div class="direct_about_btn_container">
                <button class="direct_about_button">
                   <a routerLink="/Urban-Elite/about-us">See More to About Us</a>
                </button>
            </div>
            <div class="circle3"></div>
        </div>
        <div class="content_social_media">
            <div class="social_media" *ngFor="let item of socialMedia">
                <a [href]="item.linkSocialMedia" target="_blank">
                    <i class="{{item.icon}}"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Section Service -->
    <div class="section_service">
        <div class="service_left">
            <div class="step_book_head"> 
                <h2 class="subtitle">What we offer</h2> 
                <h1 class="title">The best car rental services</h1>
                <div class="line_container">
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lM" style="background: white;"></div>
                    <div class="lM" style="background: white;"></div>
                    <div class="lL" style="background: white;"></div>
                    <div class="lXL" style="background: white;"></div>
                    <div class="lL" style="background: white;"></div>
                    <div class="lM" style="background: white;"></div>
                    <div class="lM" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                    <div class="lS" style="background: white;"></div>
                </div>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptatum consequuntur minima voluptatem. Vero, assumenda,
                </p>
            </div>
            <div class="service_item_container">
                <div class="service_item" *ngFor="let service of services">
                    <div class="col_item_icon">
                        <i class="{{service.icon}}"></i>
                    </div>
                    <div class="col_item_text">
                        <h3>{{service.titleService}}</h3>
                        <p>{{service.textService}}</p>
                    </div>
                </div>
            </div>
            <div class="direct_service_btn_container">
                <button class="direct_service_button">
                    <a routerLink="/Urban-Elite/services">
                        See More to Service
                    </a>
                </button>
            </div>
        </div>
        <div class="service_right">
            <div class="line11"></div>
            <div class="line12"></div>
            <img src="../../assets/images/service_image.png" alt="">
        </div>
    </div>

    <div class="section_brand">
        <div class="line13"></div>
        <div class="line14"></div>
        <div class="brand_head"> 
            <h2 class="subtitle">Explore Our Exclusive Brands</h2> 
            <h1 class="title">Top Brands for Your Journey</h1>
            <div class="line_container">
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lXL" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
            </div>
             <p class="text">
                Experience unparalleled quality with our selection of vehicles from leading brands. <br>Whether you need a compact car for city driving or a luxury SUV for an adventure, we have the perfect ride for you.
            </p>
        </div>

        <div class="brand_box_container">
            <app-swiper-brands></app-swiper-brands>
        </div>

        <div class="direct_brand_btn_container">
            <button class="direct_brand_button">
                <a routerLink="/Urban-Elite/brands">
                    See More to Brand Car
                </a>
            </button>
        </div>

    </div>



    <div class="section_most-selling">
        <div class="triagle1"></div>
        <div class="triagle2"></div>
        <div class="triagle3"></div>
        <div class="triagle4"></div>
        <div class="line15"></div>
        <div class="circle4"></div>
        <div class="most-selling_head"> 
            <h2 class="subtitle">Discover Our Best-Selling Vehicles</h2> 
            <h1 class="title">Top-Selling Cars for Every Journey</h1>
            <div class="line_container">
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lXL" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
            </div>
            <p class="text">
                Experience the thrill of driving our best-selling vehicles, renowned for their reliability and performance. <br>From fuel-efficient sedans to spacious family SUVs, find the ideal car that meets your needs and elevates your journey.
            </p>
        </div>
         <div class="direct_most-selling_btn_container">
            <button class="direct_most-selling_button">    
                <a routerLink="/Urban-Elite/fleet">
                    See More to Brand Car
                </a>
            </button>
        </div>


    </div>
    <div class="section_swiper">
        <app-swiper-home-section></app-swiper-home-section>
    </div>

    <div class="section_fleet">
         <div class="fleet_head"> 
            <h2 class="subtitle">Explore Our Diverse Fleet</h2> 
            <h1 class="title">Our Fleet</h1>
            <div class="line_container">
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lL"></div>
                <div class="lXL"></div>
                <div class="lL"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
            </div>
            <p class="text">
                  Looking for the perfect ride? Our fleet has something for everyone! 
        <br>From compact cars for city driving to spacious SUVs for family adventures, we offer a wide range of vehicles to meet your needs. 
        <br>Discover the features, prices, and availability of our cars below. If you have any questions, our friendly team is here to assist you!    
            </p>
        </div>

        <div class="fleet_body">
            <div class="fleet_item " *ngFor="let fleet of fleets; let i = index" [ngClass]="{'fleet_top' : i % 2 === 0, 'fleet_bottom' : i % 2 !== 0}">
                
                <div class="content_text">
                    <h3>{{fleet.typeCar}}</h3>
                     <div class="line_container">
                        <div class="lL"></div>
                        <div class="lM"></div>
                        <div class="lM"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                        <div class="lS"></div>
                    </div>
                    <p>{{fleet.text}}</p>
                </div>
                <div class="link_content">
                    <a [href]="fleet.linkToType">See More to {{fleet.typeCar}}</a>
                </div>
                <img class="car1" [src]="'../../assets/images/' + fleet.imageType" alt="">
                <img class="car2" [src]="'../../assets/images/' + fleet.imageType" alt="">

                <div class="desing_fleet1"></div>
                <div class="desing_fleet2"></div>
            </div>
        </div>
    </div>


    <div class="section_testimonials">
         <div class="testimonials_head"> 
            <h2 class="subtitle">what customers say about us</h2> 
            <h1 class="title">Testimonials</h1>
            <div class="line_container">
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lXL" style="background: white;"></div>
                <div class="lL" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lM" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
                <div class="lS" style="background: white;"></div>
            </div>
            <p class="text">
                Discover why travelers love Urban Elite! Our customers share their experiences with our reliable car rentals,<br> seamless booking, and excellent service. 
                Join the ranks of satisfied renters and see how we can enhance your journey!
            </p>
        </div>
        <div class="testimonials_body_contianer">
            <app-swiper-testimonials></app-swiper-testimonials>
        </div>
    </div>

    <div class="section_faqs">
        <div class="faqs_head"> 
            <h2 class="subtitle">Which are the most common questions</h2> 
            <h1 class="title">FAQ's</h1>
            <div class="line_container">
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lL"></div>
                <div class="lXL"></div>
                <div class="lL"></div>
                <div class="lM"></div>
                <div class="lM"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
                <div class="lS"></div>
            </div>
            <p class="text">
                Have questions? We have answers! Below are some of the most common inquiries from our customers. 
                <br>Whether you're curious about our products, services, or policies, you'll find helpful information here. 
                <br>If you have more questions, feel free to reach out to our support team!    
            </p>
        </div>

        <div class="faqs_body">
            <div *ngFor="let faq of faqs; let i = index" class="faq-item" [ngClass]="{'open': faq.isOpen}">
                <div class="faq-question" (click)="toggleAnswer(i)">
                    <h3>{{faq.question}}</h3>
                    <button [ngClass]="{'active': faq.isOpen}">{{faq.isOpen ? '-' : '+'}}</button>
                </div>
                <div *ngIf="faq.isOpen" class="faq-answer">
                    <div class="line_faqs"></div>
                    <p>{{faq.answer}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
