<div class="error">
    <img src="../../assets/images/2762862.png" alt="">
    <p>
        We're sorry, but the page you are looking for does not exist.<br>

        It seems that the link you followed may be broken or the page has been removed.
        <br>
        If you're looking for a car to rent, please visit our 
        <a [routerLink]="['/Urban-Elite/home']"> Urban ELite Car Rental Home Page</a> 
        to explore our available vehicles.
<br>
        For any assistance, feel free to contact us or browse our frequently asked questions.
<br>
        Thank you for your understanding!
    </p>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="circle1"></div>
    <div class="circle2"></div>
</div>
