.customer {
    color: white;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background: black;
    display: flex;
}
.customer .side-menu{
    width: 170px;
    height: 600px;
    position: fixed;
    border-radius: 50px;
    top: 20%;
    left: -50px;
    z-index: 50;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.customer .side-menu .item {
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.customer .side-menu .item a,
.customer .side-menu .item button {
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: .5s all ease;
    position: relative;
    cursor: pointer;
}
.customer .side-menu .item a:hover,
.customer .side-menu .item button:hover {
    color: black;
    background: #ff6a00;
    border: 1px solid #ff6a00;
    transition: .5s all ease;
}
.customer .side-menu .item .active {
    color: black;
    background: #ff6a00;
    border: 1px solid #ff6a00;
    transition: .5s all ease;
}
.customer .side-menu .item a:hover .name,
.customer .side-menu .item button:hover .name {
    display: flex;
    opacity: 1;
    transition: opacity .5s ease;
}
.customer .side-menu .item .name {
    position: absolute;
    left: 100%;
    font-size: 15px;
    width: auto;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: .5s all ease;
}
.customer .side-menu .item .name p {
    background: #ff6a00;
    width: auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;
    transition: .5s all ease;;
}
.customer .body {
    width: calc(100% - 200px);
    height: auto;
    margin-left: 200px;
    padding-top: 30px;
}